<div class="ui segment breadcrumb">
  <%= link_to 'Back', my_course_exams_path(@exam.course_id), class: 'section' %>
  <i class="fa-light fa-angle-right divider"></i>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= render 'form' %>
</div>
