<div class="ui segment breadcrumb">
  <%= link_to 'Back', my_lesson_exams_path(@exam.lesson_id), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= render 'form' %>
</div>