<div class="ui segment breadcrumb">
  <%= link_to 'Back', edu_lessons_path, class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Add</div>
</div>

<div class="ui segment">
  <%= form_with model: [:edu, @lesson], local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
