<div class="ui attached segment">
  <%= search_form_with model: CoursePlan.new(params.permit(:booking_on)) do |f| %>
    <div class="fields">
      <%= f.date_field :booking_on %>
      <%= f.submit %>
    </div>
  <% end %>
</div>

