<div class="ui top attached tabular menu">
  <%= link_to t('edu.admin.course_plans.index.title'), admin_course_crowd_plans_path(@course_crowd), class: active_helper(action: 'index') %>
  <%= link_to t('edu.admin.course_plans.plan.title'), plan_admin_course_crowd_plans_path(@course_crowd), class: active_helper(action: 'plan') %>
</div>
