<div class="ui top attached tabular menu">
  <%= link_to '计划', admin_course_crowd_plans_path(@course_crowd), class: active_helper(action: 'index') %>
  <%= link_to '配置', plan_admin_course_crowd_plans_path(@course_crowd), class: active_helper(action: 'plan') %>
</div>
