<% content_for :breadcrumb do %>
<div class="ui segment breadcrumb">
  <%= link_to t('edu.admin.course_taxons.index.title'), admin_course_taxons_path, class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section"><%= t('.new') %></div>
</div>
<% end %>

<div class="ui segment">
  <%= render 'form' %>
</div>
