<% if params[:lesson_id] %>
  <%= render 'nav_lesson' %>
<% end %>

<div class="ui basic segment breadcrumb">
  <%= link_to 'Back', train_lesson_papers_path(lesson_id: params[:lesson_id]), class: 'section' %>
  <div class="divider"> / </div>
  <div class="active section">Edit</div>
</div>

<div class="ui segment">
  <%= form_with model: @lesson_paper, scope: 'lesson_paper', url: train_lesson_paper_path(@lesson_paper, lesson_id: params[:lesson_id]), method: :patch, local: true do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>
</div>