<table class="ui very basic table">
  <% students.each do |student| %>
  <tr>
    <td>
      <%= student.real_name %>
    </td>
    <%= check_box_tag :student_id, student.id, @course.course_students.pluck(:student_id).include?(student.id), id: nil %>
  </tr>
  <% end %>
</table>
