<div class="ui top attached tabular menu">
  <%= link_to 'My Courses', admin_courses_path, class: active_helper('admin_admin/courses': 'index') %>
  <%= link_to 'Course Taxon', admin_course_taxons_path, class: active_helper(controllers: 'course_taxons') %>
</div>
