<div class="ui top attached segment">
  <%= search_form_with model: Profile.new(params.permit(:real_name)) do |f| %>
    <div class="fields">
      <%= f.text_field :real_name %>
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: [:real_name]), class: 'ui white button' %>
    </div>
  <% end %>
</div>

