<% if params[:course_id] %>
  <%= render 'nav_course' %>
<% end %>

<div class="ui basic segment breadcrumb">
  <%= link_to 'Back', admin_course_papers_path(course_id: params[:course_id]), class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Add</div>
</div>

<div class="ui segment">
  <%= form_with model: @course_paper, scope: 'course_paper', url: admin_course_papers_path(course_id: params[:course_id]), local: true do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
  <% end %>
</div>
