<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_course_papers_path(course_id: @course_paper.course_id), class: 'section' %>
  <i class="fas fa-angle-right divider"></i>
  <div class="active section">Show</div>
</div>

<table class="ui very basic large table">
  <tbody>
  </tbody>
</table>
