<div class="ui top attached borderless menu">
  <%= link_to 'My Lessons', my_lesson_members_path, class: active_helper(controller: 'edu_my/lesson_members') %>
  <%= link_to 'Available Lessons', my_lessons_path, class: active_helper(controller: 'edu_my/lessons') %>
  <%= link_to 'Exams Review', todo_edu_exams_path, class: active_helper('edu_admin/exams': 'todo') %>
  <%= link_to 'Certifications Review', cert_edu_exams_path, class: active_helper('edu_admin/exams': 'cert') %>
</div>
