<div class="ui top attached borderless menu">
  <%= link_to 'My Lessons', my_lesson_members_path, class: active_helper(controller: 'train_my/lesson_members') %>
  <%= link_to 'Available Lessons', my_lessons_path, class: active_helper(controller: 'train_my/lessons') %>
  <%= link_to 'Exams Review', todo_train_exams_path, class: active_helper('train_admin/exams': 'todo') %>
  <%= link_to 'Certifications Review', cert_train_exams_path, class: active_helper('train_admin/exams': 'cert') %>
</div>