<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header blue">
    Edit
  </div>

  <div class="content">
    <%= form_with model: @lesson, url: admin_course_lesson_path(@course, @lesson) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>
  </div>
</div>
