<div class="ui attached segment">

<%= search_form_with model: Lesson.new(params.permit(:title)) do |f| %>
  <div class="fields">
    <%= f.text_field :title %>
    <%= f.submit %>
    <%= link_to t('.clear'), filter_params(except: [:title]), class: 'ui button' %>
  </div>
<% end %>

</div>

