<div class="right menu">
  <div class="item"><%= link_to 'New Course', new_admin_course_path, class: 'ui teal primary button' %></div>
  <div class="item"><%= link_to 'New Course Taxon', new_admin_course_taxon_path, class: 'ui teal primary button' %></div>
</div>